<!DOCTYPE html>
<html>
<head>  
  <link rel="stylesheet" href="/login-form.css" type="text/css">

  <title>Login</title>
</head>
<body>

<div class="login-form">
  <h3>Login Form</h3>
<p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
<form method="post" action="/login">
  <div class="form-container">
    <!--  <input type="email" placeholder="Email Address" name="email_address"> -->
      <input type="text" placeholder='Enter email or login' name="auth"> 
  </div>
  <div class="form-container">
      <input type="password" placeholder="Password" name="password">
  </div>
      <button type="submit">Login Now</button>
       <a href="/">Registration</a>

</form>
</div>

</body>
</html>
